header {
  background-color: #6af;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  color: white;
}
#footer{
 position:fixed;
 bottom:0;
 background: white;
}
html {
  font-family: 'Staatliches', cursive;
}

button {
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 2px;
  background-image: radial-gradient(yellow, #f06d06);
} button:hover {
    cursor: pointer;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
