header {
  background-color: #6af;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  color: white;
}
#footer{
 position:fixed;
 bottom:0;
}
html {
  font-family: 'Staatliches', cursive;
}

button {
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-image: radial-gradient(yellow, #f06d06);
  border-radius: 8px;
} button:hover {
    cursor: pointer;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
